/* all app scss styles here */

$red: #E30613;
$dark-grey: #303030;

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	background-color: #e8e9ed;
	width: 100%;
	height: 100%;
	color: white;
	font-family: 'Open Sans', serif;
	overflow: hidden;
	position: relative;

	* {
		font-family: 'Open Sans', sans-serif;
	}

	h1, h2, h3 {
		color: #303030;
	}

	hr {
		background-color: rgba(48, 48, 48, .1);
		border: none;
		height: 1px;
		margin: 0 0 9px;
		width: 100%;
	}

	.loading {
		opacity: 0 !important;
	}

	.convex-curve {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 116px;
		background-image: url('../images/static/convex_curve.png');
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: left top;
		opacity: 1; // used with the loading effect
		transition: opacity 1s ease; // used with the loading effect

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 123px;
			height: 37px;
		}
	}

	.dynamic-image-large {
		display: none;
	}

	.bg_image {
		height: 100%;
		width: 100%;
		background-image: url(../images/static/santander_logo.png);
		background-position: center 51px;
		background-repeat: no-repeat;
		background-size: auto;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 6;
		opacity: 1;
		transition: opacity 1s ease;

		&.hidden {
			opacity: 0;
		}
	}

	.first-slide {
		height: 100%;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 8;
		transition: transform 1s ease;

		&.hidden {
			transform: translateY(100%);
		}

		.full-slide {
			display: none;
		}

		.simple-slide {
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			position: relative;
			height: 100%;
			width: 100%;
			padding-top: 51px;
			opacity: 1; // used with the loading effect
			transition: opacity 1s ease; // used with the loading effect

			.small-logo {
				display: block;
				margin: 0 auto 51px;
			}

			.text {
				text-align: center;

				h1 {
					font-size: 20px;
					font-weight: 600;
					margin: 0;
				}

				h2 {
					font-size: 20px;
					font-weight: normal;
					margin: 0;
				}
			}
		}
	}

	.second-slide {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9;
		width: 100%;
		height: 100%;
		padding: 10px;
		transition: opacity 1s ease;

		&.hidden {
			opacity: 0;
		}

		.dynamic-image-small {
			height: 128px;
			margin-bottom: 10px;

			img {

				&[src=""],
				&:not([src]) {
					display: none;
				}

				&:not([src=""]) {
					border-radius: 5px;
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
					object-fit: cover;
					height: 100%;
					width: 100%;
				}
			}
		}

		.calc-container {
			background-color: rgba(248, 248, 249, .95);
			border-radius: 5px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
			height: 534px;
			padding: 16px;
			position: relative;

			* {
				color: $dark-grey;
			}

			.values-and-sliders {

				.calc-value {
					
					.title {
						display: block;
						font-size: 13px;
						margin-bottom: 4px;
						padding-right: 14px;
						position: relative;

						img {
							position: absolute;
							right: 0;
							top: 50%;
							transform: translateY(-50%);
						}
					}

					.value {
						background-color: white;
						border-radius: 4px;
						box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .18);
						color: $red;
						font-size: 14px;
						font-weight: 600;
						height: 30px;
						line-height: 30px;
						margin-bottom: 15px;
						position: relative;
						text-align: center;

						display: flex;
						justify-content: center;
						align-items: center;

						.inner-value {
							position: absolute;
							top: 0;
							left: 7px;
							width: calc(100% - 14px);
							height: 100%;
							pointer-events: none;
							
							.triangle {
								position: absolute;
								bottom: -8px;
								left: 50%;
								transform: translateX(-50%);
								width: 8px;
								height: 8px;
								background-image: url(../images/static/triangle_down.png);
								background-repeat: no-repeat;
								background-size: 100%;
								background-position: center;
							}
						}

						span {
							color: $red;
						}

						form {
							display: none;

							input {
								background: white;
								box-shadow: none;
								border: none;
								color: $red;
								display: inline;
								height: auto;
								margin: 0;
								max-width: 56px;
								padding: 0;
								text-align: right;

								-moz-appearance: textfield; // hides default spinner buttons no Firefox

								&::-webkit-outer-spin-button, // hides default spinner buttons no Chrome
								&::-webkit-inner-spin-button {
									/* display: none; <- Crashes Chrome on hover */
									-webkit-appearance: none;
									margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
								}
							}
						}

						&[data-slider-id="payback-period"] form input {
							max-width: 16px;
						}
					}
				}
			}

			.slider-large {
				display: none;
			}

			.slider-container {
				display: flex;
				margin-bottom: 17px;
				
				.slider-end {
					height: 3px;
					width: 8px;

					&:first-child {
						background-color: $red;
						border-width: 1px 0 1px 1px;
						border-style: solid;
						border-color: #D96B72;
						border-radius: 12px 0 0 12px;
					}
					&:last-child {
						background-color: #AAAAAB;
						border-width: 1px 1px 1px 0;
						border-style: solid;
						border-color: #D0D0D1;
						border-radius: 0 12px 12px 0;
					}
				}

				.slider {
					width: calc(100% - 16px);

					&.ui-widget.ui-widget-content {
						background-color: #AAAAAB;
						border-width: 1px 0;
						border-style: solid;
						border-color: #D0D0D1;
						border-radius: 0;
						height: 3px;

						.ui-slider-range.ui-widget-header.ui-slider-range-min {
							background-color: $red;
							border-width: 1px 0;
							border-style: solid;
							border-color: #D96B72;
							border-radius: 0;
							height: 3px;
							transform: translate(-1px, -1px);
						}

						.ui-slider-handle {
							background-color: $red;
							border: none;
							border-radius: 100px;
							box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
							cursor: pointer;
							outline: none;
							height: 18px;
							width: 18px;
							top: 50%;
							transform: translateY(-50%);

							&.ui-state-active {
								background-color: darken($red, 10);
							}
						}
					}
				}
			}

			.result-and-cta {
				
				.large {
					display: none !important;
				}

				.result-container {
					margin-bottom: 10px;

					.title {
						display: block;
						font-size: 11px;
					}

					.result-and-interest {

						#result {
							font-size: 30px;
							font-style: italic;
							font-weight: 600;
							line-height: 1.15;
						}

						hr {
							margin-top: 6px;
						}

						.interest-rates {

							p {
								font-size: 10px;
								line-height: 14px;
								margin: 0;
							}
						}
					}
				}

				#CTA {
					background-color: #63BA68;
					border-radius: 3px;
					box-shadow: 0 1px 9px rgba(0, 0, 0, .17);
					color: white;
					display: block;
					font-size: 15px;
					height: 34px;
					line-height: 34px;
					margin: 0;
					outline: none;
					padding: 0 30px 0 14px;
					position: relative;
					text-align: left;
					transition: opacity .2s ease;
					width: 100%;

					span {
						color: white;
					}

					img {
						display: block;
						position: absolute;
						right: 14px;
						top: 50%;
						transform: translateY(-50%);
					}

					&.disabled {
						cursor: not-allowed;
						opacity: .65;
					}
				}
			}

			.disclaimer-and-logo {
				display: none;
			}
		}
	}

	.top-frame-content {
		background-color: #e8e8e8;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: none;
		height: 100%;
		opacity: 1; // used with the loading effect
		transition: opacity 1s ease; // used with the loading effect
		padding: 14px 30px;
		position: relative;
		z-index: 10;

		h2,
		h3,
		p {
			color: $dark-grey;
		}

		h3 {
			font-size: 14px;
			font-weight: normal;
			line-height: 30px;
			margin: 0 0 8px;
			text-transform: uppercase;
		}

		h2 {
			font-size: 33px;
			line-height: 30px;
			margin: 0 0 8px;
		}

		p {
			font-size: 14px;
			line-height: 30px;
		}

		&.visible {
			display: block;
		}
	}

	@media screen and (min-width: 320px) {

		.convex-curve {
			display: none;
		}
		
		h2, h3 {
			color: white;
			font-weight: 600;
		}

		.bg_image {
			background-position: center;
		}

		.dynamic-image-large {
			display: block;
			opacity: 1; // used with the loading effect
			transition: opacity 1s ease; // used with the loading effect
			height: 100%;
			width: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 7;

			&.blurred {
				filter: blur(4px);
			}
		}

		.first-slide {

			&.hidden {
				transform: translateX(-100%);
			}

			.simple-slide {
				display: none;
			}

			.full-slide {
				display: block;
				height: 100%;
				width: 100%;
				opacity: 1;// used with the loading effect
				margin: 0px;
				position: absolute;
				z-index: 8;
				opacity: 1; // used with the loading effect
				transition: opacity 1s ease, transform 1s ease; // used with the loading effect
				transform: translateX(0);

				&.loading {
					transform: translateX(-100%);
				}

				.background {
					position: absolute;
					width: 150%;
					height: 200%;
					border-radius: 50%;
					background: $red;
					top: 50%;
					transform: translateY(-50%);
					left: -80%;
					opacity: .75;
					z-index: 0;
				}

				.content {
					padding: 32px 0 17px 18px;
					position: relative;
					z-index: 1;
					transition: all 1s ease;
					transition-delay: 1s;
					width: 60%;

					.main_text {

						.title {
							font-size: 9.6px;
							margin: 0 0 4px;
							text-transform: uppercase;
						}

						.header {
							font-size: 20px;
							font-weight: 600;
							line-height: 1.25;
							margin: 0 0 5px;
						}

						.text {
							font-size: 10px;
							font-weight: 600;
							line-height: 1.3;
						}
					}
				}

				.logo {
					position: absolute;
					bottom: 17px;
					left: 18px;
					max-width: 113px;
					transition: all 1s ease;
					transition-delay: 1s;
				}
			}
		}

		.second-slide {

			.dynamic-image-small {
				display: none;
			}

			.calc-container {
				height: 100%;
				padding: 10px;

				.values-and-sliders {
					display: flex;
					margin-bottom: 15px;

					.calc-value {
						flex: 1;
						margin-left: 9px;

						&:first-child {
							margin-left: 0;
						}
						
						.title {
							font-size: 9px;
							margin-bottom: 6px;
							opacity: .5;
							padding: 0 0 0 4px;

							img {
								display: none;
							}
						}

						.value {
							cursor: pointer;
							height: 44px;
							line-height: 44px;

							.inner-value {
								display: none;
							}
						}

						.slider-container {
							display: none;
						}

						&.selected {

							.title {
								opacity: 1;
							}

							.value {
								background-color: $red;
								box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3) inset;
								color: white;

								span {
									color: white;
									font-size: 14px;
								}
							}
						}
					}

					hr {
						display: none;
					}
				}

				.slider-large {
					display: block;

					.slider-container {
						display: none;

						&.active {
							display: flex;
						}
					}
				}

				.slider-container {
					margin-bottom: 20px;

					.slider-end {
						height: 6px;

						&:first-child {
							border-radius: 6px 0 0 6px;
							border-width: 0;
						}
						&:last-child {
							background-color: #CBCACA;
							border-radius: 0 6px 6px 0;
							border-width: 0;
						}
					}

					.slider {

						&.ui-widget.ui-widget-content {
							background-color: #CBCACA;
							border: none;
							height: 6px;

							.ui-slider-handle {
								height: 30px;
								width: 30px;
								transform: translate(-5px, -50%);
							}

							.ui-slider-range.ui-widget-header.ui-slider-range-min {
								border: none;
								height: 6px;
								transform: none;
							}
						}
					}
				}

				.result-and-cta {
					display: flex;

					.large {
						display: block !important;
					}
					.small {
						display: none !important;
					}

					.result-container {
						flex: 100%;
						
						hr {
							margin: 0;
						}

						.title {
							font-size: 10px;
							margin-bottom: 4px;
						}

						.result-and-interest {
							display: flex;
							justify-content: space-between;
							padding: 5px 0;

							#result {
								font-size: 24px;
							}

							.interest-rates {

								p {
									font-size: 9px;
									font-weight: 600;
									letter-spacing: -0.41px;
									line-height: 13px;
								}
							}
						}
					}

					#CTA {
						box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .17);
						flex: auto;
						font-size: 14px;
						font-weight: 600;
						height: 38px;
						letter-spacing: -0.5px;
						line-height: 38px;
						margin: 19px 0 0 11px;
						padding: 0 14px;
						text-align: center;
						width: 122px;

						img {
							display: none;
						}
					}
				}

				.disclaimer-and-logo {
					display: flex;

					.disclaimer {
						flex: 100%;
						font-size: 9px;
						line-height: 10px;
						letter-spacing: -0.6px;
					}

					.red-logo {
						align-items: flex-end;
						display: flex;
						flex: auto;
						flex-direction: column;
						width: 122px;
						margin-left: 19px;

						img {
							display: block;
						}
					}
				}
			}
		}
	}

	@media screen and (min-width: 580px) {

		.first-slide .full-slide {

			.content {
				padding: 80px 16px 36px 36px;

				.main_text {

					.title {
						font-size: 15px;
						font-weight: normal;
					}

					.header {
						font-size: 32px;
						line-height: 38px;
						margin-bottom: 16px;
					}

					.text {
						font-size: 13px;
						font-weight: normal;
						line-height: 20px;
					}
				}
			}

			.logo {
				bottom: 36px;
				left: 36px;
			}
		}

		.second-slide .calc-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			max-height: 380px;
			max-width: 560px;
			padding: 24px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			.values-and-sliders .calc-value {

				.title {
					font-size: 13px;
				}

				.value {
					height: 52px;
					line-height: 52px;

					span {
						font-size: 16px;
					}
				}

				&.selected .value span {
					font-size: 16px;
				}
			}

			.slider-large {
				margin: -18px 0 26px;
			}

			.result-and-cta {

				.result-container {
				
					.title {
						font-size: 12px;
						margin-bottom: 2px;
					}

					.result-and-interest {
						padding: 8px 0;

						#result {
							font-size: 35px;
						}

						.interest-rates p {
							font-size: 11px;
							font-weight: normal;
							letter-spacing: -0.2px;
							line-height: 19px;
						}
					}
				}

				#CTA {
					font-size: 18px;
					width: 230px;
					height: 59px;
					line-height: 59px;
					margin-left: 20px;
				}
			}

			.disclaimer-and-logo {

				.disclaimer {
					font-size: 10px;
					letter-spacing: -0.2px;
					line-height: 14px;
				}

				.red-logo {
					margin-left: 20px;
					width: 245px;
				}
			}
		}
	}

	@media screen and (min-width: 980px) {

		.first-slide .full-slide {

			.background {
				height: 250%;
				left: -101%;
			}

			.content {
				padding: 206px 52px 120px;
				width: 49%;

				.main_text {

					.text {
						font-size: 14px;
						line-height: 24px;
					}
				}
			}

			.logo {
				bottom: 52px;
				left: 52px;
			}
		}
	}

}
